<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.common.loginsystem.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.common.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterConfirmAccountServlet</servlet-name>
        <servlet-class>controller.common.register.RegisterConfirmAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.common.loginsystem.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.publicpackage.resetpassword.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.common.changepassword.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>controller.publicpackage.resetpassword.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>controller.publicpackage.resetpassword.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSkillServlet</servlet-name>
        <servlet-class>controller.admin.manageskills.AddNewSkillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <servlet-class>controller.common.userauthorization.VerifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillStatusServlet</servlet-name>
        <servlet-class>controller.admin.manageskills.UpdateSkillStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestServlet</servlet-name>
        <servlet-class>controller.mentee.CreateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRequestServlet</servlet-name>
        <servlet-class>controller.mentee.updateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.mentee.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramLanguageServlet</servlet-name>
        <servlet-class>controller.admin.managelanguages.ProgramLanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.admin.manageusers.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMentorsServlet</servlet-name>
        <servlet-class>controller.mentor.ViewAllMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorCVServlet</servlet-name>
        <servlet-class>controller.mentor.ViewMentorCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserStatusServlet</servlet-name>
        <servlet-class>controller.admin.manageusers.UpdateUserStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestController</servlet-name>
        <servlet-class>controller.admin.managerequests.ListRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMentorStatusServlet</servlet-name>
        <servlet-class>controller.admin.managementors.UpdateMentorStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterConfirmAccountServlet</servlet-name>
        <url-pattern>/RegisterConfirmAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSkillServlet</servlet-name>
        <url-pattern>/AddNewSkillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <url-pattern>/VerifyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillStatusServlet</servlet-name>
        <url-pattern>/UpdateSkillStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestServlet</servlet-name>
        <url-pattern>/createRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRequestServlet</servlet-name>
        <url-pattern>/updateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramLanguageServlet</servlet-name>
        <url-pattern>/ProgramLanguageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMentorsServlet</servlet-name>
        <url-pattern>/ViewAllMentorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorCVServlet</servlet-name>
        <url-pattern>/ViewMentorCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserStatusServlet</servlet-name>
        <url-pattern>/UpdateUserStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestController</servlet-name>
        <url-pattern>/ListRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMentorStatusServlet</servlet-name>
        <url-pattern>/UpdateMentorStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>WelcomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
